/* Propiedades del carrusel de sección Inicio*/
header {
    .carousel-control-prev-icon, .carousel-control-next-icon {
        width: 2.5rem;
        height: 2.5rem;
    }
    .carousel img{
        object-fit: cover;
        object-position: center;
        height: 50vh;
    }
    @media (min-width: 1200px) {
        .carousel img {
            height: 65vh;
        }
    }
}
