/* Propiedades generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
	font-family: 'Work Sans', sans-serif; 
	scroll-behavior: smooth;
}

body {
	font-family: 'Work Sans', sans-serif; 
	background-color: $bg-color-body;
	color: $text-color;
}

ul {
	list-style-type: none;
	list-style-position: outside;
	line-height: 2;
}

.text-body {
    color: $text-color !important;
}

.text-position {
	margin-top: 0.5rem;
	margin-left: 0.5rem;
}

.go-top-btn {
	padding-top: 3px;
	font-size: 34px;
	position: fixed;
	right: 15px;
	bottom: 15px;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
	background: rgba(52, 58, 64, 0.5);
	line-height: 45px;
}

.go-top-btn:focus, .go-top-btn:hover {
	color: #fff;
}

.go-top-btn:hover {
	background: #3D3E40;
}

.efecto {
	transition: all 400ms ease;
		&:hover {
			box-shadow: 5px 5px 20px rgba (0,0,0,0.2);
			transform: translateY(-3%);
		}
}

@media (max-width: 576px) {
	h4 {
		font-size: calc(1.10rem + .3vw)
	}
	h5 {
		font-size: calc(1rem + .3vw)
	}
}

@media (max-width: 576px) {
	.go-top-btn {
		transform: scale(0.75);
	}
}