/* Propiedades del encabezado de las secciones */
header {
    background-image: $bg-img-color;  
    h1 {
        text-align: center;
        background-color: $bg-color;
        padding: 0.5em;
    }
}