/* Variables */
$text-color: #3D3E40;
$text-color-hover: white;
$bg-img-color: linear-gradient(to right, #45B649, #DCE35B);
$bg-color: #3D3E40;
$bg-color-body: #D2D9A3;
$form-color: #3D3E40;
$radius: 100px;